@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@1,300&family=Orbitron&display=swap');

* {
  font-family: 'Noto Sans', sans-serif;
    color: white;
  }
div {
    margin: 2px;
    padding: 2px;
    background-color: rgba(0, 0, 0, 0.288);
  }
  